body{
    margin: 0;
    padding: 0;
}

.container{
    background-image:url(bg.png);
    background-size: contain;
    height: 100vh;
    width:3333px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
}

.buildings{
    background: url("building-sprite.png") repeat;
    height: 469px;
    width: 2664px;
    overflow: hidden;
    animation: city 13s linear infinite alternate;
    transition: transform 1s ease-in-out;
    top: 12vh;
    left: 0vw;
    position: absolute;
    margin: 0 auto;
    z-index: 2;
}


@keyframes city {
    0% {
        transform: translateX(0%) translateY(0%);
      }
      50% {
        transform: translateX(-10%) translateY(0%);
      }
      100% {
        transform: translateX(-20%) translateY(0%);
      }
    
}

.sky{
    background: url("sky.png") 0 0 no-repeat;
    height: 90vh;
    width: 3333px;
    overflow: hidden;
    top: 0vh;
    left: 0vw;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    animation: clearskies 33s linear infinite alternate;
    transition: transform 10s ease-in-out;
}


@keyframes clearskies {
0% {
    transform: translateX(-40%) translateY(0%);
  }
  50% {
    transform: translateX(-20%) translateY(0%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }

}

/* 1196 x 2591 */
.cat{
    background: url("cat_sprite.png") 0 0 no-repeat;
    height: 199.307px;
    width: 398.66px;
    overflow: hidden;
    /* 5 represents the number of times you want the walk steps repeated (like a loop for those steps before moving on) */
    animation: walk 2s steps(12) 3, 
    runtrans 2s steps(12) 1 2s,
    run 1s steps(13) infinite 1s,
    move 6s linear infinite;
    animation-delay: 300ms;
    top: 50vh;
    left: 100vw;
    position: absolute;
    margin: 0 auto;
    z-index: 99;
}


@keyframes walk {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -2391.69px;
    }

}

@keyframes runtrans {
    0% {
        background-position: -398.66px 0;
    }
    100% {
        background-position: -398.66px -2391.69px;
    }

}

@keyframes run {
    0% {
        background-position: -799.33px 0;
    }
    100% {
        background-position: -799.33px -2591px;
    }

}

@keyframes move {
    0% {
        left: 100%;
    }
    100% {
        left: -400px;
    }
}
/* 761x80 6 mice 1 row*/
.scaredmouse{
    background: url("mouse-sprite.png") 0 0 no-repeat;
    height: 80px;
    width: 126.83px;
    overflow: hidden;
    animation: surprise 8s steps(6) infinite, 
    scarrymouse 8s linear infinite;
    top: 69vh;
    left: 20vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}

@keyframes surprise {
    0% {
        background-position: 0 0px;
    }
    100% {
        
        background-position: -761px 0px;
    }
}

@keyframes scarrymouse {
    95% {
        left: 20vw;
    }
    100% {
        left: -100vw;
    }
}

.mousewrap{
    position: relative;
}
.mouse-home{
    background: url("micehome.png") 0 0 no-repeat;
    height: 95px;
    width: 213px;
    top: 72vh;
    left: 22vw;
    position: absolute;
    margin: 0 auto;
    z-index: 12;
}
/* 761x80 6 mice 1 row*/
.idlemouse{
    background: url("stillmouse.png") 0 0 no-repeat;
    height: 32px;
    width: 115px;
    overflow: hidden;
    animation: idling 4s linear infinite alternate-reverse;
    top: 75vh;
    left: 34vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}

@keyframes idling {
    0% {
        
        left: 34vh;
    }
    100% {
        left: 32vh;
    }
}

.lookoutmouse{
    background: url("lookoutmouse.png") 0 0 no-repeat;
    height: 80px;
    width: 122px;
    overflow: hidden;
    animation: lookout 4s steps(2) infinite;
    top: 6h;
    left: 1vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}

@keyframes lookout {
    0% {
        
        background-position: 0px 0px;
    }
    100% {
        background-position: -244px 0px;
    }
}

/* 892 x 240 */
.mouse{
    background: url("stillmouse.png") 0 0 no-repeat;
    height: 32px;
    width: 115px;
    overflow: hidden;
    animation: runningscared 6s linear infinite;
    transition: ease-in-out;
    animation-delay: 2s;
    top: 70vh;
    left: 100vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}

@keyframes runningscared {
    0% {
         left: 100%;
    }
    100% {
        left: -350px;
    }
}

/* 732x80 */
.mouse1{
    background: url("mouse-run.png") 0 0 no-repeat;
    height: 80px;
    width: 122px;
    overflow: hidden;
    animation: runner 2s steps(4) 1,
    off 2s steps(2) infinite,
    speedy 14s steps(6) infinite;
    transition: ease-in-out;
    animation-delay: 2s;
    top: 66vh;
    left: 21vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}
@keyframes runner {
    0% {
         background-position: 0px 0px;
    }
    100% {
        background-position: -488px 0px;
    }
}
@keyframes off {
    0% {
        background-position: -488px 0px;
    }
    100% {
        background-position: -732px 0px;
    }
}
@keyframes speedy {
    0% {
        left: 21vw;
    }
    100% {
        left: -732px;
    }
}

.orangecar{
    background: url("carstoo.png") 0 0 no-repeat;
    height: 261px;
    width: 531px;
    overflow: hidden;
    /* 5 represents the number of times you want the walk steps repeated (like a loop for those steps before moving on) */
    animation: start 1s steps(4) 1, 
    accelerate 1s steps(4) 1 2s,
    drive 10s linear infinite;
    top: 75vh;
    left: -20vw;
    position: absolute;
    margin: 0 auto;
    z-index: 99;
}

@keyframes start {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -1044px;
    }
}

@keyframes accelerate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -1044px;
    }

}

@keyframes drive {
    0% {
        left: 0%;
    }
    100% {
        left: 2400px;
    }
}

.sportscar{
    background: url("carstoo.png") -531px 0 no-repeat;
    height: 261px;
    width: 531px;
    overflow: hidden;
    /* 5 represents the number of times you want the walk steps repeated (like a loop for those steps before moving on) */
    animation: sportsstart 1s steps(4) 1, 
    sportsaccelerate 1s steps(4) 1,
    sportsdrive 15s linear infinite;
    top: 75vh;
    left: -40vw;
    position: absolute;
    margin: 0 auto;
    z-index: 99;
}

@keyframes sportsstart {
    0% {
        background-position: -531px 0;
    }
    100% {
        background-position: -531px -1044px;
    }
}

@keyframes sportsaccelerate {
    0% {
        background-position: -531px 0;
    }
    100% {
        background-position: -531px -1044px;
    }

}

@keyframes sportsdrive {
    0% {
        left: 0%;
    }
    100% {
        left: 2400px;
    }
}
