body{
    margin: 0;
    padding: 0;
}

.container{
    background-image:url(sidewalk.png);
    background-size: contain;
    height:909px;
    width:1650px;
}

.cat{
    background: url("cat_sprite.png") 0 0 no-repeat;
    height: 200px;
    width: 400px;
    overflow: hidden;
    /* 5 represents the number of times you want the walk steps repeated (like a loop for those steps before moving on) */
    animation: walk 1s steps(12) 5, 
    runtrans 1s steps(12) 1 5s,
    run 1s steps(13) infinite 6s,
    move 10s linear infinite;
    top: 46vh;
    left: 72vw;
    position: absolute;
    margin: 0 auto;
}

@keyframes walk {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -2400px;
    }

}

@keyframes runtrans {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: -400px -2400px;
    }

}

@keyframes run {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: -800px -2600px;
    }

}

@keyframes move {
    0% {
        left: 100%;
    }
    100% {
        left: -400px;
    }
}
.idlemouse{
    background: url("mouse-sprite.png") 0 0 no-repeat;
    height: 80px;
    width: 126.83px;
    overflow: hidden;
    animation: surprise 4s steps(4) 4,
    hanging-out 4s steps(2) 1 20s,
    standing 4s steps(2) infinite;
    top: 65vh;
    left: 26vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}

@keyframes surprise {
    0% {
        top: 60vh;
        left: 39vw;
        background-position: 0 0px;
    }
    100% {
        top: 60vh;
        left: 39vw;
        background-position: -507.32px 0px;
    }
}


@keyframes hanging-out {
    0% {
        top: 60vh;
        left: 39vw;
        background-position: -507.32px 0px;
    }
    100% {
        top: 60vh;
        left: 39vw;
        background-position: -761px 0px;
    }
}


@keyframes standing {
    0% {
        top: 60vh;
        left: 39vw;
        background-position: -507.32px 0px;
    }
    100% {
        top: 60vh;
        left: 39vw;
        background-position: -761px 0px;
    }
}


.mouse-home{
    background: url("mouse-home.png") 0 0 no-repeat;
    height: 95px;
    width: 213px;
    top: 66vh;
    left: 28vw;
    position: absolute;
    margin: 0 auto;
    z-index: 3px;
}

.mouse{
    background: url("mouse-row-sprite.png") 0 0 no-repeat;
    height: 80px;
    width: 127.4285px;
    overflow: hidden;
    animation: surface 4s steps(5) 1,
    hide 1s steps(5) 5s,
    look 4s steps(6) 1 9s,
    scared 1s steps(1) 10s,
    speedy 2s linear 12s;
    top: 65vh;
    left: 26vw;
    position: absolute;
    margin: 0 auto;
    z-index:99;
}

@keyframes surface {
    0% {
        top: 63vh;
        left: 29vw;
        background-position: 0 -80px;
    }
    100% {
        top: 63vh;
        left: 29vw;
        background-position: -637.1428px -80px;
    }
}
@keyframes hide {
    0% {
        top: 63vh;
        left: 29vw;
        background-position: 0 -160px;
    }
    100% {
        top: 63vh;
        left: 29vw;
        background-position: -637.1428px -160px;
    }
}
@keyframes look {
    60% {
        background-position: 0 0;
    }
    100% {
        background-position: -764.5713px 0;
    }
}

@keyframes scared {
    60% {
        background-position: -764.5713px 0;
    }
    100% {
        background-position: -892px 0;
    }
}
@keyframes speedy {
    80% {
        left: 26vw;
    }
    100% {
        left: -892px;
    }
}

.orangecar{
    background: url("carstoo.png") 0 0 no-repeat;
    height: 261px;
    width: 531px;
    overflow: hidden;
    /* 5 represents the number of times you want the walk steps repeated (like a loop for those steps before moving on) */
    animation: start 1s steps(4) 1, 
    accelerate 1s steps(4) 1 2s,
    drive 10s linear infinite;
    top: 75vh;
    left: -20vw;
    position: absolute;
    margin: 0 auto;
}

@keyframes start {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -1044px;
    }
}

@keyframes accelerate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -1044px;
    }

}

@keyframes drive {
    0% {
        left: 0%;
    }
    100% {
        left: 1400px;
    }
}

.sportscar{
    background: url("carstoo.png") -531px 0 no-repeat;
    height: 261px;
    width: 531px;
    overflow: hidden;
    /* 5 represents the number of times you want the walk steps repeated (like a loop for those steps before moving on) */
    animation: sportsstart 1s steps(4) 1, 
    sportsaccelerate 1s steps(4) 1,
    sportsdrive 15s linear infinite;
    top: 75vh;
    left: -40vw;
    position: absolute;
    margin: 0 auto;
}

@keyframes sportsstart {
    0% {
        background-position: -531px 0;
    }
    100% {
        background-position: -531px -1044px;
    }
}

@keyframes sportsaccelerate {
    0% {
        background-position: -531px 0;
    }
    100% {
        background-position: -531px -1044px;
    }

}

@keyframes sportsdrive {
    0% {
        left: 0%;
    }
    100% {
        left: 1400px;
    }
}
